@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #3e433e;
}
.homepage-hero {
  clip-path: polygon(0 0, 100% 0%, 100% 88%, 0% 100%);
}
.post-card {
  transition: all 400ms ease-in-out;
}
.post-card:hover h2 {
  text-decoration: underline;
}
.post-card button span {
  opacity: 0;
  transition: opacity 400ms ease-out;
}
.post-card:hover button span {
  opacity: 1;
}
.social-icons a:hover svg path {
  color: #e9c7a5;
}
