@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #3e433e;
  overflow-x: hidden;
  /* background-color: rgba(147, 171, 97, .15); */
}
.homepage-hero {
  clip-path: polygon(0 0, 100% 0%, 100% 88%, 0% 100%);
}
.post-card {
  transition: all 400ms ease-in-out;
}
.post-card:hover h2 {
  text-decoration: underline;
}
.post-card button span {
  opacity: 0;
  transition: opacity 400ms ease-out;
}
.post-card:hover button span {
  opacity: 1;
}
.social-icons a:hover svg path {
  color: #e9c7a5;
}
/* .hash-link::before {
  content: "#";
  margin-left: 10px;
  color: #e9c7a5;
  text-decoration: none;
} */
.prose ul:first-of-type {
  list-style-type: none;
  text-decoration: none;
  padding-left: 0;
}
.prose ul:first-of-type a {
  text-decoration: none;
  font-size: 14px;
}
